@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
* {
  font-family: "DM Sans", sans-serif;
}
html,
body {
  padding: 0;
  margin: 0;
}

.features {
  margin: 0 auto 0 auto;
}

.features-head h1 {
  text-align: center;
  font-size: 42px;
  color: #1e0e62;
}
.features-head p {
  text-align: center;
  margin-top: -10px;
  font-size: 22px;
  color: #15143966;
}

.features-head {
  text-align: center;
  margin: auto;
}

.features-contents {
  display: flex;
  justify-content: center;
  justify-items: center;
  gap: 60px;
  margin-top: 48px;
  margin-left: 150px;
}

.feature-content {
  display: flex;
  flex-direction: column;
  gap: 100px;
  justify-content: center;
}

.feature-info .ph {
  font-size: 20px;
  font-weight: 600;

  color: #1e0e62;
}
.feature-info p {
  margin-top: 0px;
  font-size: 16px;
  color: #15143966;
}

.feature13 {
  justify-items: center;
  margin-top: 60px;
  margin-bottom: 40px;
}

.feature13 p {
  font-size: 22px;
  font-weight: 500;
  color: #1e0e62;
  text-align: center;
}

.features13-img {
  position: relative;
  margin-top: 48px;
}

.iphonex {
  position: absolute;
  top: 248px; /* Adjust position as needed */
  left: 728px;
}

.feature13-contents {
  margin-top: -52px;
  display: flex;
  gap: 40px;
  text-align: left;
}

.feature13-content .head {
  font-size: 18px;
  text-align: left;
}

.feature13-content .content {
  font-size: 16px;
  color: #15143966;
  text-align: left;
}
